body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333333;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.menu {
  background-color: #003465;
  float: left;
  width: 25%;
  height: 60vh;
  padding: 57px;
  margin-top: 9px;
  text-align: left;
}

.main {
  background-color: #3a97ed;
  float: left;
  width: 50%;
  height: 60vh;
  padding: 24px;
  margin-top: 9px;
  overflow-y: auto;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.right {
  background-color: #003465;
  float: left;
  width: 25%;
  height: 60vh;
  padding: 22px;
  margin-top: 9px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Added for better layout */
}

.item {
  display: inline-block; /* Change to inline-block for better alignment */
}

.footer {
  clear: both;
  background-color: #0a3d53;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  flex-grow: 1;
  margin-left: 0;
}

footer h4, footer h5 {
  margin: 0 70px;
  white-space: nowrap;
}

footer h4 {
  margin-left: 250px;
}

footer h5 {
  margin-left: 80px;
}

/* Media queries for responsive layout */
@media only screen and (min-width: 1025px) {
  .menu {
    width: 25%;
  }
  .main {
    width: 50%;
  }
  .right {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    width: 25%;
    height: 50vh;
  }
  .main {
    width: 75%;
    height: 50vh;
    overflow-y: auto;
  }
  .right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    width: 100%;
    font-size: 10px;
  }
  .header {
    width: 100%;
  }
}

@media only screen and (min-width: 621px) and (max-width: 767px) {
  .menu, .main, .right, .header {
    width: 100%;
    height: auto;
  }
  .menu, .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item {
    display: inline-block;
  }
  .footer {
    width: 100%;
    font-size: 10px;
  }
}

@media only screen and (max-width: 620px) {
  .menu, .main, .right, .header {
    width: 100%;
  }
  .footer {
    width: 100%;
    font-size: 8px;
  }
}

@media only screen and (max-width: 437px) {
  .footer, .header{
    width: 100%;
    font-size: 6px;
  }
}
